body{
    background-color: #e5e5e5;
}
*{
    /* font-size: 30px; */
    margin: 15px 5px;
}

.box{
    border: 2px solid black;
    width: 500px;
    background-color: white;
    box-shadow: 5px 5px 5px 2px rgba(127, 127, 127, 0.7);
}

.head{
    font-weight:bold;

    text-decoration:underline;

    text-transform: uppercase;

    font-style: italic;
}

#serif{
    font-family: serif;

    color: red;

    text-align: left;

}

#sans-serif{
    font-family: sans-serif;

    color: rgb(255, 0, 0);

    text-align: right;
}

#mono{
    font-family: monospace;

    color: #ff0000;
}

#cursive{
    font-family: cursive;

    color: #000;

    text-align: justify;
}

#fantasy{
    font-family: fantasy;

    color: #fff;
    background-color: #000;

    text-align: center;
}

#poppins{
    font-family: 'Poppins', sans-serif;
}

#px{
    font-size: 32px;
}

#size{
    font-size: small;
}

#perc{
    font-size: 200%;
}

#em{
    font-size:2em;
    /* font-size: 32px; */
}

/* text-decoration */

#underline{
    text-decoration: underline double;
}

#overline{
    text-decoration: overline dotted 2px;
}

#lineT{
    text-decoration: line-through red;
}

#com{
    text-decoration: underline;
    text-decoration-thickness:2px ;
    text-decoration-color:blue ;
}

#italic{
    letter-spacing: 2px;

    font-style: italic;
}

