/* @import url(./style2.css); */
/* @import "./style2.css"; */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@font-face {
    font-family: myFont;
    src: url(myFont.ttf);
}

p{
    font-size: 38px;
    /* font-family: 'dancing script'; */
    font-family: 'dancing script' !important;
    font-family: myFont;
}