img{
    border: 3px solid grey;

    /* filter: grayscale(100%); */

    /* filter: blur(3px); */

    /* filter: brightness(150%); */

    /* filter: contrast(2); */

    /* filter: drop-shadow(10px 10px 10px red); */

    /* filter: hue-rotate(-180deg); */

    /* filter: invert(100%); */

    /* filter: opacity(50%); */

    /* filter: saturate(25%); */

    /* filter: sepia(100%); */

    /* filter: initial; */

    /* filter: inherit; */

}

body{
    background-image: linear-gradient(to right, rgba(0, 255, 255, 0.297) , #62ec0695);
}

.img1{
    /* visibility: hidden; */
}

.img2{
    /* visibility: collapse; */
}

td{
    visibility: collapse;
}

table,td,tr,td{
    border: 1px solid black;
}

p{
    visibility: collapse;
}